.opinion-card {
    &__article {
        border-left: 1px solid $bg-gray;
        padding-left: 8px;
    }

    &__bg {
        padding: 16px;
        background-color: $bg-gray;
    }

    &__name {
        font-weight: bold;
        color: $light-blue;
    }

    &__title {
        font-weight: bold;
        line-height: 26px;
    }
}