* {
    margin:0;
    padding:0;
}

html,
body,
article,
aside,
footer,
nav,
section,
time {
 margin: 0;
 padding: 0;
 border: 0;
 color: var(--color-dark-text);
}

article,
aside,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
 display: block;
}
 
body {
 line-height: 1;
 box-sizing: border-box;
}

html {
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
}

#root,html,body {
    height: 100%;
    background: var(--color-background);
}

a,button,
[type="button"],
[type="submit"],
[role="button"] {
    cursor: pointer;
}
 
a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

.main {
    &__content {
        margin: 16px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__title {
        background-color: #61876E;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        padding: 8px;
        margin-bottom: 16px;
        &--opinion {
            background-color: transparent;
            color: #95BDFF;
            border-top: 1px solid #95BDFF;
            border-bottom:  1px solid #95BDFF;
        }
    }
}

@import './variables/';
@import './components/'; 